/* Header */

.body {
  margin: 0 auto;
}

.container {
  max-width: 850px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.days-of-wk {

}

/* Modal */

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 3px;
  width: 60%;
  max-width: 800px;
}

/* Modal */
.description {
  resize: none;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  overflow: hidden;
}

/* Functional CSS Classes */

.red-line {
  border: 2px solid red;
}

.blue-line {
  border: 2px solid blue;
}

.text-align-c {
  text-align: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.pb-1-half-rem {
  padding-bottom: 1.5rem;
}
